<hr>
<br>

<h3>Live Update:</h3>
<br>
<input type="checkbox" [(ngModel)]="live">
<br>
<live-data [live]="live"></live-data>
<br> live: {{ live }}

<br>
<hr>
<br>


<h3>Live Update2:</h3>
<br>
<input type="checkbox" [(ngModel)]="live2">
<br>
<live-data [live]="live2"></live-data>
<br> live2: {{ live2 }}

<br>
<hr>
<br>

<h3>File downloading with direct httpClient call ...</h3>
<file-download></file-download>
<div *ngFor="let format of fileFormats" class="radio">
  <label>
    <input ngModel type="radio" name="format" [value]="format" (change)="fileFormatSelected(format)">
    {{ format }}
  </label>
</div>

<br>
<hr>
<br>

<h3>Messaging between components ...</h3>
<app-msg-between></app-msg-between>

<br>
<hr>
<br>

<h3>File downloading with old iFrame style ...</h3>
<div *ngFor="let format of downloadFileFormats" class="radio">
  <label>
    <input ngModel type="radio" name="downloadformat" [value]="format" (change)="downFileFormatSelected(format)">
    {{ format }}
  </label>
</div>

<app-file-download-iframe></app-file-download-iframe>
